
@{
    ViewBag.Title = "NewCustom3";
    Layout = "~/Views/NewCustom/_Layout.cshtml";
}

<div>
    <h3>Custom Page 3</h3>
</div>
<div>@ViewBag.CField</div>
<div>
    Street = @ViewBag.CustomModel.addressLine1
    <br/>
    Number = @ViewBag.CustomModel.numberField
</div>


